-r requirements.txt

# Pytest
pytest
pytest-cov
pytest-sugar
pytest-mock

# Linting
pylint
isort
flake8
bandit
pydiatra
pydocstyle
safety
autoflake
black

# Restructured text Linting
pygments
restructuredtext_lint
