---
name: Release
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.3.0

      - name: Use pip cache
        uses: actions/cache@v3.2.6
        with:
          path: ~/.cache/pip
          key: pip

      - name: Install release requirements
        run: make install-twine

      - name: Build wheel
        run: make build-wheel

      - name: Release
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
