name: Test
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - dev
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install test requirements
        run: |
          sudo curl https://github.com/mvdan/sh/releases/download/v${SHFMT_VERSION}/shfmt_v${SHFMT_VERSION}_linux_amd64 -Lo /usr/local/bin/shfmt
          sudo chmod +x /usr/local/bin/shfmt
          sudo apt install shellcheck -y
          pip install tox
        env:
          SHFMT_VERSION: 3.4.3

      - name: Run tests
        run: make test

      - name: Run codecov
        uses: codecov/codecov-action@v2
