---
name: Test Release
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test_release:
    name: Test Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip

      - name: Install release requirements
        run: make install-twine

      - name: Build wheel
        run: make build-wheel

      - name: Release
        run: twine upload -r testpypi dist/*
        env:
          TWINE_USERNAME: scrap
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD_TEST }}
